<div class="container">
  <!-- <div class="header-bg"></div> -->
  <div class="header-container">
    <img
      *ngIf="!mobileView"
      src="../assets/bg-header-desktop.svg"
      alt=""
      class="header"
    />
    <img
      *ngIf="mobileView"
      src="../assets/bg-header-mobile.svg"
      alt=""
      class="header"
    />
  </div>

  <div
    class="job-container"
    [ngStyle]="{ 'margin-top': addStyle && mobileView ? '15%' : '' }"
  >
    <div class="filter-container" *ngIf="filterTags.length">
      <div class="filter">
        <div class="filtags-container" *ngFor="let filter of filterTags">
          <div class="filTags">{{ filter }}</div>
          <img
            src="../assets/icon-remove.svg"
            alt="remove"
            class="cross"
            (click)="onClickCross(filter)"
          />
        </div>
      </div>
      <div class="clear" (click)="onClickClear()">clear</div>
    </div>
    <div
      class="job"
      [class.left-border]="job.featured"
      *ngFor="let job of filteredList"
    >
      <div class="left">
        <img src="{{ job.img }}" alt="photosnap" class="profile" />
        <div class="job-info">
          <div class="job-title-container">
            <span class="title">{{ job.company }}</span>
            <div class="new" *ngIf="job.new"><span>NEW!</span></div>
            <div class="featured" *ngIf="job.featured">
              <span>FEATURED</span>
            </div>
          </div>
          <div class="job-title">{{ job.title }}</div>
          <div class="job-details">
            <span>{{ job.postedOn }}</span>
            <span class="dot">&middot;</span>
            <span>{{ job.time }}</span>
            <span class="dot">&middot;</span>
            <span>{{ job.location }}</span>
          </div>
        </div>
      </div>
      <div class="line" *ngIf="mobileView"></div>
      <div class="right">
        <ng-container *ngFor="let t of job.tags">
          <div class="tags" (click)="onAddedTagsFilter(t)">{{ t }}</div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
