<div class="container">
  <!-- <div class="header-bg"></div> -->
  <div class="header-container">
    <img src="../assets/bg-header-desktop.svg" alt="" class="header" />
  </div>
  <div class="job-container">
    <div class="job">
      <div class="left">
        <img src="../assets/photosnap.svg" alt="photosnap" class="profile" />
        <div class="job-info">
          <div class="job-title-container">
            <span class="title">Photosnap</span>
            <div class="new"><span>NEW!</span></div>
            <div class="featured"><span>FEATURED</span></div>
          </div>
          <div class="job-title">Senior Frontend Developer</div>
          <div class="job-details">
            <span>1d ago</span>
            <span class="dot">&middot;</span>
            <span>Full Time</span>
            <span class="dot">&middot;</span>
            <span>USA only</span>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="tags">Frontend</div>
        <div class="tags">Senior</div>
        <div class="tags">HTML</div>
        <div class="tags">CSS</div>
        <div class="tags">JavaScript</div>
      </div>
    </div>
  </div>
</div>
