.container {
  height: 100%;
  background-color: hsl(180, 52%, 96%);
}
.header-container {
  position: relative;
  height: 166px;
  overflow: hidden;
}
.header {
  position: absolute;
  width: 100%;
  height: 166px;
  background-color: hsl(180, 29%, 50%);
}
.profile {
  width: 93px;
  height: fit-content;
}
.job-container {
  padding: 77px 175px;
  display: grid;
  gap: 27px;
  background-color: hsl(180, 52%, 96%);
}
.job {
  display: flex;
  width: auto;
  padding: 33px 43px 33px 35px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 8px 8px 50px -30px hsl(180, 29%, 50%);
  justify-content: space-between;
  align-items: center;
}
.left-border {
  border-left: 5px solid hsl(180, 29%, 50%);
}
.left {
  display: flex;
  gap: 25px;
}
.job-title-container {
  display: flex;
  font-size: 20px;
  color: hsl(180, 29%, 50%);
  font-weight: 500;
  align-items: center;
  flex-wrap: wrap;
}
.title {
  margin-right: 18px;
}
.new {
  color: white;
  background-color: hsl(180, 29%, 50%);
  padding: 7px 8px;
  font-size: 15px;
  border-radius: 25px;
  margin-right: 10px;
}
.featured {
  color: white;
  background-color: hsl(180, 14%, 20%);
  padding: 7px 8px;
  font-size: 15px;
  border-radius: 25px;
}
.job-title {
  margin: 12px 0px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.7px;
  color: hsl(180, 14%, 20%);
}
.job-details {
  display: flex;
  gap: 18px;
  font-size: 20px;
  color: hsl(180, 8%, 52%);
  flex-wrap: wrap;
}
.right {
  display: flex;
  gap: 21px;
  flex-wrap: wrap;
}
.tags,
.filTags {
  background-color: hsl(180, 52%, 96%);
  color: hsl(180, 29%, 50%);
  padding: 11px 7px 7px 7px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 5px;
}
.filTags {
  border-radius: 5px 0px 0px 5px;
}
.filter-container {
  position: absolute;
  top: 27%;
  left: 0;
  background: white;
  box-shadow: 8px 8px 50px -20px hsl(180, 29%, 50%);
  padding: 20px 45px;
  display: flex;
  width: -webkit-fill-available;
  margin: 0px 175px;
  flex-wrap: wrap;
  transform: translateY(-78%);
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.filter {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.filtags-container {
  display: flex;
  align-items: center;
}
.cross {
  background-color: hsl(180, 29%, 50%);
  padding: 10px 10px;
  border-radius: 0px 5px 5px 0px;
}
.clear {
  color: hsl(180, 29%, 50%);
  font-size: 18px;
  font-weight: 600;
}
@media (min-width: 750px) {
  .job-title,
  .tags,
  .cross,
  .clear {
    cursor: pointer;
  }
  .job-title:hover {
    color: hsl(180, 29%, 50%);
  }
  .tags:hover {
    background-color: hsl(180, 29%, 50%);
    color: white;
  }
  .cross:hover {
    background-color: hsl(180, 14%, 20%);
  }
  .clear:hover {
    text-decoration: underline;
  }
}

@media (max-width: 749px) {
  .header-container {
    height: 23%;
  }
  .header {
    height: 100%;
  }
  .job-container {
    padding: 16% 6%;
    gap: 48px;
  }
  .job {
    display: grid;
    padding: 9% 6% 7% 6%;
    position: relative;
  }
  .left {
    display: grid;
  }
  .profile {
    width: 15%;
    position: absolute;
    top: -11%;
  }
  .title {
    font-size: 78%;
    margin-right: 25px;
  }
  .new {
    margin-right: 10px;
    padding: 6px 8px;
    font-size: 71%;
  }
  .featured {
    padding: 6px 8px;
    font-size: 71%;
  }
  .job-title {
    font-size: 94%;
    letter-spacing: normal;
    margin: 5% 0% 6% 0%;
  }
  .job-details {
    font-size: 100%;
    gap: 10px;
  }
  .line {
    width: 100%;
    height: 0.5px;
    background-color: hsl(180, 14%, 20%);
    opacity: 0.5;
    margin: 7% 0% 5% 0%;
  }
  .right {
    display: flex;
    gap: 14px 17px;
    flex-wrap: wrap;
  }
  .filter-container {
    margin: 0% 6%;
    padding: 5% 5%;
  }
  .tags,
  .filTags {
    font-size: 100%;
  }
  .filter {
    width: 80%;
  }
}
